 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mokingJu's personal website">
    <meta name="author" content="mokingJu">
    <title>mokingJu's website</title>
    <link rel="icon" href="~/img/logo_music.jpg">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img id="site-logo" src="~/img/logo_music.jpg" />
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav pull-right navbar-nav">
                            <li class="active"><a href="@Url.Action("AllAlbums", "Albums")" class="glyphicon glyphicon-home"></a></li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("All Artits", "Index", "Artists")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
   
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/img/grindcore.jpg" alt="First slide">

            </div>
            <div class="item">
                <img class="second-slide" src="~/img/hiphop.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide" src="~/img/badbrainslive.jpg" alt="Third slide">
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <img id="about-pic" class="img-circle" src="~/img/logo_music.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Late released</h2>
                @{Html.RenderAction("LstMenu", "Genres"); }
                @{Html.RenderAction("SearchEngine", "Albums"); }
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <div class="container body-content">
                    @RenderBody()
        <hr class="featurettes-divider">
        <div class="container">
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>© 2020 King, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

</body>
</html>
